<li class="c-header-nav-item dropdown">
    <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="c-avatar">
            <img class="c-avatar-img" src="assets/img/avatars/6.jpg" alt="{{ app.user.username }}"></div>
    </a>
    <div class="dropdown-menu dropdown-menu-right pt-0">
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ path('profile') }}">
            <svg class="c-icon mr-2">
                <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user"></use>
            </svg> Profile
        </a>
        <a class="dropdown-item" href="{{path('app_logout') }}">
            <svg class="c-icon mr-2">
                <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-account-logout"></use>
            </svg> Logout
        </a>
    </div>
</li>
