<li class="c-sidebar-nav-title">Controls</li>
{% if is_granted('ROLE_MANAGE_USERS') %}
<li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <svg class="c-sidebar-nav-icon">
            <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-puzzle"></use>
        </svg> User
    </a>
    <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path('profile') }}">
                <i class="nav-icon icon-user"></i> Profile
            </a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path('users') }}">
                <i class="nav-icon icon-people"></i> Users
            </a>
        </li>
    </ul>
</li>
{% endif %}
<li class="c-sidebar-nav-title">Work</li>
{% if is_granted('ROLE_WORK_MANAGE_MEMBERS') %}
<li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
    <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <svg class="c-sidebar-nav-icon">
            <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-puzzle"></use>
        </svg> Members
    </a>
    <ul class="c-sidebar-nav-dropdown-items">
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path('work.members.groups')  }}">
                <i class="nav-icon icon-people"></i> Groups
            </a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path('work.members') }}">
                <i class="nav-icon icon-people"></i> Members
            </a>
        </li>
    </ul>
</li>
{% endif %}