<li class="nav-item">
    <a class="nav-link" href="{{ path('home') }}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('auth.signup') }}">Sign Up</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('auth.reset') }}">Reset</a>
</li>
